{% extends "base.html" %}

{% block head_content %}
	<title>Test Chat</title>
{% endblock%}

{% block container_msgs %}
	<div class="row">
		<h2>Messages</h2>
		{% for message in object_list %}
			<div class="col-lg-4 offset-lg-4">
				<div class="media">
					<img class="mr-3 rounded-circle" src="{{ message.user.profile.picture.url }}" height="50" alt="Image profile not found">
					<div class="media-body">
						<strong>By</strong> {{ message.user.username }}
					</div>
				</div>
				<img class="img-fluid mt-3 border rounded" src="{{ message.image_msg.url }}" alt="Image msg not found">
			</div>
		{% endfor %}
	</div>
	<div class="fixed-bottom">
		{% block container_form_msgs %}
		{% endblock %}
	</div>
{% endblock%}